html {
  height: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/stripe-bg-mobile.png');
  background-repeat: repeat;
  background-size: auto;
  background-position: left top;

  @include mq($bp-tablet) {
    background-image: url('../images/stripe-bg.png');
  }

}//body

*:focus {
  outline: 0;
}

.layout-container {
  position: relative;
  left: 0;
  margin: 0 auto;
  transition: $base-duration $base-timing;

  .mobile-nav-open & {

    @include mq($bp-mobile) {
      position: fixed;
      left: cols(17);
      width: 100%;
    }

  }//.mobile-nav-open &

}//.layout-container

section {
  position: relative;
  overflow: hidden;
  width: 100%;

  .section-container {
    display: none;
    max-width: $layout-max-width;
  }

}//section

.section-toggle {
  opacity: 0;
  @include remove-button-styles;
  background: url(../images/x.svg);
  @include hide-text;
  @include background-cover;
  background-size: 12px 12px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  @include transition;

  @include mq($bp-tablet) {
    background-size: 19px 19px;
    top: 10px;
    right: cols(2);
  }

  &.active {
    opacity: 1;
  }

}//.section-toggle

.separator {
  width: 100%;
  height: 1px;
  background: $black;
  margin: 30px auto;

  @include mq($bp-tablet) {
    margin: 40px auto;
  }

  @include mq($bp-desktop) {
    margin: 50px auto;
  }

}//separator

.back-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  @include hide-text;
  width: 33px;
  height: 33px;
  background-image: url('../images/Down_Arrow_Black.svg');
  background-size: 16px auto;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);

  @include mq($bp-tablet) {
    margin: 0;
    width: 70px;
    height: 70px;
    background-size: 22px auto;
  }

}

#preload {
  @include mq($bp-desktop) {
    height: 1px;
    width: 1px;
    position: absolute;
    visibility: hidden;
    background: url(../images/about_over.svg),
    url(../images/tickets_over.svg),
    url(../images/visitingus_over.svg),
    url(../images/faq_over.svg),
    url(../images/manhattancolorwalk_over.svg),
    url(../images/contact_over.svg),
    url(../images/buytickets_button_over_outlinedfont.svg),
    url(../images/buytickets_button_on_outlinedfont.svg);
  }
}
