body {
  font-family: 'Poppins', sans-serif;
  font: 100%;
  overflow: hidden;
  font-weight: 600;
}

h1 {
  @extend %stripe;
  @include hide-text;
  height: $stripe-height;
  width: 100%;
  background-repeat: no-repeat;
  background-position: $gutter-desktop 0;

  @include mq($bp-mobile) {
    height: $stripe-height-mobile;
    background-position: $gutter-mobile 0;
  }

  &.tickets {
    background-image: url(../images/tickets.svg);

    &:hover,
    &.active {
      background-image: url(../images/tickets_over.svg);
    }

  }

}

h2 {
  @include font(24, 34);
  margin-bottom: 10px;
}

p {
  @include font(14, 22);

  @include mq($bp-tablet) {
    @include font(16, 24);
  }

  span {
    font-weight: 400;
  }

}

%stripe {
  display: block;
  white-space: nowrap;
  line-height: 59px;
  color: $black;
  font-family: 'Poppins';
  font: 32px;
  text-decoration: none;
}
