body {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  overflow: hidden;
}

h1 {
  @extend %stripe;
  padding-left: $gutter-desktop;

  .tickets & {
    margin-top: 177px;
  }

}

h2 {
  @include font-size(24, 34);
  margin-bottom: 10px;
}

p {
  @include font-size(14, 20);

  @include mq($bp-tablet) {
    @include font-size(16, 24);
  }

}

%stripe {
  display: block;
  white-space: nowrap;
  line-height: 59px;
  color: $black;
  font-family: 'Poppins';
  font-size: 32px;
  text-decoration: none;
}
