.about-container {

  @include mq($bp-tablet) {
    display: flex;
  }

  .anchor-links {
    display: none;
    padding-top: 40px;

    @include mq($bp-tablet) {
      display: block;
      width: 260px;
    }

    li {
      margin-bottom: 17px;
    }

    a {
      display: block;
      @include hide-text;
    }

    .intro {
      height: 134px;
      @include icon(134px, 134px, 'sowhatiscolorfactory_button_outlined_off.svg','sowhatiscolorfactory_button_outlined_on.svg');
    }

    .artists {
      height: 160px;
      @include icon(160px, 160px, 'artistscollaborators_button_outlined_off.svg','artistscollaborators_button_outlined_on.svg');
    }

    .jobs {
      height: 160px;
      @include icon(160px, 160px, 'jobs_button_outlined_off.svg','jobs_button_outlined_on.svg');
    }

    .sponsors {
      height: 134px;
      @include icon(134px, 134px, 'sponsors_button_outlined_off.svg','sponsors_button_outlined_on.svg');
    }

  }//.anchor-links

  .chapters {
    margin: 0 $gutter-mobile 50px;

    @include mq($bp-tablet) {
      flex: 1;
      margin: 0 cols(3) 70px 0;
      padding-top: 40px;
    }

    @include mq($bp-desktop) {
      margin-right: cols(5, 48);
      margin-bottom: 90px;
    }

  }//.chapters

  article {
    @include clearfix;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 32px cols(6);
    max-width: 960px;

    @include mq($bp-tablet) {
      padding: 40px cols(3, 48) 46px;
      text-align: left;
    }

    @include mq($bp-desktop) {
      padding: 54px cols(4, 48) 60px cols(3, 48);
    }

    h2 {
      margin: 0 auto 20px;
      @include hide-text;
    }

    .back-to-top {
      position: absolute;
      bottom: 0;
      right: 0;
      @include hide-text;
      width: 33px;
      height: 33px;
      background-image: url('../images/Down_Arrow_Black.svg');
      background-size: 16px auto;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(180deg);

      @include mq($bp-tablet) {
        margin: 0;
        width: 70px;
        height: 70px;
        background-size: 22px auto;
      }

    }

  }//article

  #intro {
    background-color: $white;
    margin-top: 16px;

    @include mq($bp-tablet) {
      margin-top: 0;
    }

    h2 {
      width: 110px;
      height: 110px;
      @include icon(110px, 110px, 'sowhatiscolorfactory_button_outlined_on.svg');

      @include mq($bp-tablet) {
        @include visually-hidden;
      }

    }

    .visit-us {
      display: block;
      margin: 0 auto;
      @include hide-text;
      width: 106px;
      height: 40px;
      @include icon(106px, 40px, 'visitus_button_outlined.svg','visitus_button_outlined_on.svg');

      @include mq($bp-tablet) {
        margin: 0;
        width: 128px;
        height: 48px;
        @include icon(128px, 48px, 'visitus_button_outlined.svg','visitus_button_outlined_on.svg');
      }

    }

  }//#intro

  #artists {
    background-color: $dark-pastel-green;
    text-align: center;

    a {
      color: $golden-yellow;
    }

    h2 {
      width: 124px;
      height: 124px;
      @include icon(124px, 124px, 'artistscollaborators_button_outlined_on.svg');

      @include mq($bp-tablet) {
        width: 160px;
        height: 160px;
        @include icon(160px, 160px, 'artistscollaborators_button_outlined_on.svg');
      }

    }//h2

    p {

      @include mq($bp-tablet) {
        padding-left: cols(1);
        padding-right: cols(1);
      }

      @include mq($bp-desktop) {
        padding-left: cols(4, 48);
        padding-right: cols(4, 48);
      }

    }//p

    h3 {
      margin-top: 28px;

      @include mq($bp-tablet) {
        margin-top: 36px;
      }

    }//h3

    .button-container {
      margin: 12px 0;

      @include mq($bp-tablet) {
        margin: 26px 0;
      }

      .button {
        display: block;
        @include hide-text;
        margin-left: auto;
        margin-right: auto;
        width: 133px;
        height: 42px;

        @include mq($bp-tablet) {
          width: 290px;
          height: 92px;
        }

        &.moma {
          @include icon(133px, 42px, 'sfmoma.svg');

          @include mq($bp-tablet) {
            @include icon(290px, 92px, 'sfmoma.svg');
          }

        }//&.moma

        &.cooper {
          @include icon(133px, 42px, 'cooperhewitt.svg');

          @include mq($bp-tablet) {
            @include icon(290px, 92px, 'cooperhewitt.svg');
          }

        }//&.cooper

        &.coming-soon {
          @include icon(133px, 42px, 'announcements_comingsoon.svg');

          @include mq($bp-tablet) {
            @include icon(290px, 92px, 'announcements_comingsoon.svg');
          }

        }//&.cooper


      }//.button

    }//.button-container

    .separator {

      @include mq($bp-desktop) {
        width: cols(43, 48);
      }

    }//.separator

  }//#artists


  #jobs {
    background-color: $chartreuse-yellow;

    h2 {
      @include icon(133px, 133px, 'jobs_button_outlined_on.svg');

      @include mq($bp-tablet) {
        @include icon(154px, 154px, 'jobs_button_outlined_on.svg');
      }

    }//h2

  }//#jobs

  #sponsors {
    background-color: $light-green;

    h2 {
      @include icon(133px, 133px, 'sponsors_button_outlined_on.svg');

      @include mq($bp-tablet) {
        @include icon(154px, 154px, 'sponsors_button_outlined_on.svg');
      }

    }//h2

    .logos {
      display: flex;
      flex-flow: column;
      @include clearfix;

      @include mq($bp-tablet) {
        flex-flow: row;
      }

      > li {

        @include mq($bp-tablet) {
          margin-right: 10px;
        }

        @include mq($bp-desktop) {
          margin-right: 50px;
        }

        &:last-child {

          @include mq($bp-tablet) {
            margin-right: 50px;
          }

        }//&:last-child

      }// >li

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      a {
        display: block;

        @include mq($bp-mobile) {
          width: 50%;
          margin: 0 auto;
        }

      }//a

    }//.logos

  }//#sponsors

  .jobs-container,
  .sponsors-container {
    display: flex;
    flex-flow: column;

    @include mq($bp-tablet) {
      flex-flow: row;
    }

    .title-container {

      h2 {
        width: 133px;
        height: 133px;

        @include mq($bp-tablet) {
          width: 154px;
          height: 154px;
        }

      }//h2

    }//.title-container

    .text-container {
      padding-left: 5%;
      padding-right: 5%;

      @include mq($bp-tablet) {
        margin-left: 30px;
        padding: 16px 0 0 0;
      }

      h2 {
        @include font(12, 22);
      }

      p {
        @include font(12, 22);
      }//p

    }//.text-container

  }//.jobs-container, sponsors-container

}//.about-container
