#dots-animation-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dots-animation {
  @include centered;
  width: 1366px;
  height: 827px;

  @include mq($bp-mobile) {
    width: 371px;
    height: 541px;
  }

  .logo {
    display: block;
    opacity: 0;
    width: 256px;
    height: 256px;
    margin: 32px;
    background: url('../images/logo.svg');
    @include background-cover;
    @include hide-text;
    animation: fade-in 1820ms;
    animation-delay: calc(76 * #{$interval});
    animation-fill-mode: forwards;

    @include mq($bp-mobile) {
      width: 122px;
      height: 122px;
      margin: 14px;
    }

  }

  .frame {
    visibility: hidden;
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;

    @include mq($bp-mobile) {
      width: 150px;
      height: 150px;
    }

  }

  .frame1 {
    top: 458px;
    left: 248px;
    background: $torch-red;
    @include dot(16, 162);

    @include mq($bp-mobile) {
      top: 263px;
      left: -36px;
    }

  }

  .frame2 {
    top: 119px;
    left: 1201px;
    background: $shakespeare;
    @include dot(28, 145);

    @include mq($bp-mobile) {
      top: -77px;
      left: 170px;
    }

  }

  .frame3 {
    top: 258px;
    left: -50px;
    background: $can-can;
    @include dot(43, 148);

    @include mq($bp-mobile) {
      top: 107px;
      left: -85px;
    }

  }

  .frame4 {
    top: 39px;
    left: 780px;
    background: $arsenic;
    z-index: 2;
    @include dot(46, 160);

    @include mq($bp-mobile) {
      top: 97px;
      left: 202px;
    }

  }

  .frame5 {
    top: 270px;
    left: 1019px;
    background: $hot-magenta;
    z-index: 2;
    @include dot(49, 154);

    @include mq($bp-mobile) {
      top: 200px;
      left: 324px;
    }

  }

  .frame6 {
    top: 119px;
    left: 195px;
    background: $eden;
    z-index: 2;
    @include dot(52, 152);

    @include mq($bp-mobile) {
      top: -56px;
      left: -41px;
    }

  }

  .frame7 {
    top: 586px;
    left: 441px;
    background: $downy;
    z-index: 2;
    @include dot(55, 156);

    @include mq($bp-mobile) {
      top: 355px;
      left: 58px;
    }

  }

  .frame8 {
    top: 592px;
    left: 1092px;
    background: $golden-yellow;
    @include dot(58, 139);

    @include mq($bp-mobile) {
      top: 479px;
      left: 156px;
    }

  }

  .frame9 {
    top: 626px;
    left: -45px;
    background: $golden-bell;
    @include dot(61, 133);

    @include mq($bp-mobile) {
      top: 464px;
      left: -65px;
    }

  }

  .frame10 {
    top: -108px;
    left: 33px;
    background: $deep-sky-blue;
    @include dot(64, 142);

    @include mq($bp-mobile) {
      top: 396px;
      left: 297px;
      z-index: 2;
    }

  }

  .frame11 {
    top: -88px;
    left: 459px;
    background: $chartreuse-yellow;
    @include dot(67, 161);

    @include mq($bp-mobile) {
      top: 33px;
      left: 53px;
    }

  }

  .frame12 {
    top: 482px;
    left: 761px;
    background: $flame-pea;
    @include dot(70, 158);

    @include mq($bp-mobile) {
      top: 316px;
      left: 214px;
    }

  }

  .frame13 {
    top: -108px;
    left: 964px;
    background: $pumpkin;
    @include dot(73, 136);

    @include mq($bp-mobile) {
      top: 24px;
      left: 291px;
    }

  }

  .frame14 {
    top: 251px;
    left: 519px;
    background: $green-white;
    animation: pop-in;
    animation-delay: calc(76 * #{$interval});
    animation-fill-mode: forwards;

    @include mq($bp-mobile) {
      top: 195px;
      left: 111px;
      z-index: 2;
    }

  }

}//#dots-animation
