.faq-container {
  background: $white;
  margin: 20px $gutter-mobile 40px;
  min-height: 600px;
  padding: 10px 20px 20px;

  @include mq($bp-tablet) {
    margin: 50px cols(7) 70px cols(7) ;
    padding: 30px 50px 50px;
  }

  @include mq($bp-desktop) {
    margin-right: cols(13);
    margin-bottom: 90px;
    margin-top: 60px;
  }

  .faq-menu {
    padding: 0;
    margin: 0;

    h3 {
      margin: 0;
      padding-left: 26px;
      text-transform: none;

      button {
        @include remove-button-styles;
        width: 100%;
        padding-right: 30px;
        padding-bottom: 11px;
        padding-top: 13px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700; // bold
        @include font(12, 16);
        letter-spacing: .03em;
        background: url('../images/FAQ_plus_sign_12x12.svg') no-repeat right center;
        background-size: 12px 12px;

        @include mq($bp-tablet) {
          @include font(20, 24);
        }

        &.active {
          background-image: url('../images/x.svg');
        }

      }

    }//h3

    p {
      display: none;
      padding: 0 0 14px;
      @include font(10, 15);
      font-weight: 500; // bold
      letter-spacing: .035em;

      @include mq($bp-tablet) {
        @include font(13, 20);
        font-weight: 700; // bold
      }

    }

    li {
      position: relative;
      border-bottom: solid 3px $black;

      @include mq($bp-tablet) {
        border-bottom: solid 5px $black;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 15px;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        @include mq($bp-tablet) {
          top: 17px;
        }

      }

      &:nth-child(17n +1) {
        &::after {
          background-color: $golden-bell;
        }
      }

      &:nth-child(17n + 2) {
        &::after {
          background-color: $pumpkin;
        }
      }

      &:nth-child(17n + 3) {
        &::after {
          background-color: $chartreuse-yellow;
        }
      }

      &:nth-child(17n + 4) {
        &::after {
          background-color: $deep-sky-blue;
        }
      }

      &:nth-child(17n + 5) {
        &::after {
          background-color: $arsenic;
        }
      }

      &:nth-child(17n + 6) {
        &::after {
          background-color: $eden;
        }
      }

      &:nth-child(17n + 7) {
        &::after {
          background-color: $downy;
        }
      }

      &:nth-child(17n + 8) {
        &::after {
          background-color: $can-can;
        }
      }

      &:nth-child(17n + 9) {
        &::after {
          background-color: $cinnabar;
        }
      }

      &:nth-child(17n + 10) {
        &::after {
          background-color: $rosebud;
        }
      }

      &:nth-child(17n + 11) {
        &::after {
          background-color: $flame-pea;
        }
      }

      &:nth-child(17n + 12) {
        &::after {
          background-color: $dawn;
        }
      }

      &:nth-child(17n + 13) {
        &::after {
          background-color: $wasabi;
        }
      }

      &:nth-child(17n + 14) {
        &::after {
          background-color: $hot-magenta;
        }
      }

      &:nth-child(17n + 15) {
        &::after {
          background-color: $mulberry;
        }
      }

      &:nth-child(17n + 16) {
        &::after {
          background-color: $golden-yellow;
        }
      }

      &:nth-child(17n + 17) {
        &::after {
          background-color: $dark-pastel-green;
        }
      }

    }//li

  }//.faq-menu

}//.faq-container
