.faq-container {
  background: $white;
  margin: 0 $gutter-mobile 50px;

  @include mq($bp-tablet) {
    margin: 0 cols(7) 70px cols(7) ;
    padding-top: 40px;
  }

  @include mq($bp-desktop) {
    margin-right: cols(13);
    margin-bottom: 90px;
    margin-top: 68px;
  }


}//.faq-container
