.grid-container {
  background: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  position: absolute;
  background: blue;
  display: grid;
  width: 1600px;
  height: 969px;
  grid-template-columns: repeat(auto-fill, minmax(10px, 1fr) ) ;
  grid-template-rows: repeat(auto-fill, minmax(10px, 1fr) ) ;
  overflow: hidden;

  .ball {
    width: 370px;
    height: 370px;
    border-radius: 50%;
  }

  .logo {
    grid-area: 29 / 62 / 66 / 99;

    .ball {
      background: #e1e2d3;
    }
  }

  .green {
    grid-area: 14 / 23 / 51 / 60;
    z-index: 2;

    .ball {
      background: #266d5e;
    }

  }

  .blue {
    grid-column-start: 4;
    grid-column-end: 41;
    grid-row-end: 25;
    grid-row-start: 1;

    .ball {
      background: #00aeef;
      top: -120px;
      position: relative;
    }

  }




}
