@mixin home-fade() {
  opacity: 0;
  animation: fade-in 820ms;
  animation-delay: calc(180 * #{$interval});
  animation-fill-mode: forwards;
}

body.home {
  background-image: url('../images/cityscape.jpg');
  @include background-cover;
  overflow: hidden;
  height: 100%;

  &.delay {
    background-image: url('../images/stripe-bg.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: left top;

    @include mq($bp-mobile) {
      background-image: url('../images/stripe-bg-mobile.png');
    }

  }//&.delay

  #header {
    position: absolute;
    z-index: 10;
    @include home-fade();
  }

  .nav {
    position: absolute;
    z-index: 10;
    top: calc(#{$stripe-height} * 3);
    margin: 0;
    @include home-fade();

    @include mq($bp-mobile) {
      top: calc(#{$stripe-height-mobile} * 3);
    }

  }// #nav

  #footer {
    position: absolute;
    z-index: 10;
    @include home-fade();

    top: calc(#{$stripe-height} * 13);

    @include mq($bp-mobile) {
      top: calc(#{$stripe-height-mobile} * 13);
    }

  }// #footer


}





