body.home {
  @include background-cover;
  overflow: hidden;
  height: 100%;

  // add stripes after animation for browser resize event
  &.delay {
    background-image: url('../images/stripe-bg.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: left top;

    @include mq($bp-mobile) {
      background-image: url('../images/stripe-bg-mobile.png');
    }

  }//&.delay

  #header {
    opacity: 0;
    position: absolute;
    z-index: 10;
  }

  .nav {
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: calc(#{$stripe-height} * 3);
    margin: 0;


    @include mq($bp-mobile) {
      top: calc(#{$stripe-height-mobile} * 3);
    }

  }// #nav

  #footer {
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: calc(#{$stripe-height} * 13);

    @include mq($bp-mobile) {
      top: calc(#{$stripe-height-mobile} * 13);
    }

  }// #footer


}





