.nav {
  position: relative;
  width: 100%;

  ul {

    > li {

      > a {
        @extend %stripe;
        @include hide-text;
        height: $stripe-height;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto $stripe-height;
        background-position: 35px 0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3D(0, 0, 0);

        @include mq($bp-mobile) {
          height: $stripe-height-mobile;
          background-position: 22px 0;
          background-size: auto $stripe-height-mobile;
        }

        &.tickets {
          background-image: url(../images/tickets.svg);

          @include hover {
            background-image: url(../images/tickets_over.svg);
          }

        }

        &.about {
          background-image: url(../images/about.svg);

          @include hover {
            background-image: url(../images/about_over.svg);
          }

        }

        &.visiting {
          background-image: url(../images/visitingus.svg);

          @include hover {
            background-image: url(../images/visitingus_over.svg);
          }

        }

        &.faq {
          background-image: url(../images/faq.svg);

          @include hover {
            background-image: url(../images/faq_over.svg);
          }

        }

        &.mcw {
          background-image: url(../images/manhattancolorwalk.svg);

          @include hover {
            background-image: url(../images/manhattancolorwalk_over.svg);
          }

        }

        &.contact {
          background-image: url(../images/contact.svg);

          @include hover {
            background-image: url(../images/contact_over.svg);
          }

        }


      }//>a

    }// > li

  }//ul

}// #nav

ul.empty-stripes {
  > li {
    height: $stripe-height;
    width: 100%;

    @include mq($bp-mobile) {
      height: $stripe-height-mobile;
    }

  }
}
