.tickets-container {
  display: flex;
  padding: 12px 0 30px $gutter-mobile;
  flex-flow: column;
  min-height: 351px;

  @include mq($bp-tablet) {
    flex-flow: row;
    min-height: 236px;
    padding: 0 0 30px 190px;
  }

  .button-container {
    margin-bottom: 16px;

    @include mq($bp-tablet) {
      margin-bottom: 0;
    }

    a {
      display: block;
      background-image: url(../images/buytickets_button_outlinedfont.svg);
      @include background-cover;
      @include hide-text;
      @include transition;
      width: 108px;
      height: 108px;

      @include mq($bp-tablet) {
        width: 130px;
        height: 130px;
      }

      @include hover {
        background-image: url(../images/buytickets_button_over_outlinedfont.svg);
      }

      &:active {
        background-image: url(../images/buytickets_button_on_outlinedfont.svg);
      }

    }

  }

  .text-container {
    @include transition;
    @include mq($bp-tablet) {
      margin-left: 22px;
    }

    h2 {
      @include font(12, 22);
      margin: 20px 0;

      @include mq($bp-tablet) {
        @include font(16, 24);
      }

    }

    p {
      @include font(12, 22);

      @include mq($bp-tablet) {
        @include font(16, 24);
      }

    }//p

  }


}//.tickets-container
