#mc_embed_signup {
  position: relative;
  height: $stripe-height-mobile;
  font-family: 'Poppins', sans-serif;

  @include mq($bp-tablet) {
    height: $stripe-height;
  }

  form {
    margin: 0;
    padding: 0;
  }

  .mc-field-group {
    margin: 0 0 0 $gutter-mobile;

    @include mq($bp-tablet) {
      margin-left: 0;
    }

  }

  label {
    position: absolute;
    top: 0;
    left: $gutter-mobile;
    margin: 0;
    background: $chartreuse-yellow;
    width: 160px;
    height: 27px;
    @include font(12, 36);
    letter-spacing: 0.037em;
    opacity: 1;

    @include mq($bp-tablet) {
      left: $gutter-desktop;
      height: 40px;
      width: 300px;
      margin-left: 0;
      @include font(15, 56);
    }

  }//label

  input[type=email] {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    @include font(12, 36);
    letter-spacing: 0.037em;
    width: 160px;
    background: transparent;
    border: 0;
    border-bottom: solid 3px $black;
    padding: 0;
    text-indent: 0;
    height: 30px;
    border-radius: 0;

    @include mq($bp-tablet) {
      width: 300px;
      height: 45px;
      margin-left: $gutter-desktop;
      @include font(15, 15);
      padding-top: 15px;
      border-bottom: solid 5px $black;
    }

    @include placeholder {
      @include font(12);
      color: $black;
      letter-spacing: 0.037em;

      @include mq($bp-tablet) {
        @include font(15, 15);
      }

    }

  }

  input[type=submit] {
    @include remove-button-styles;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    @include font(16, 16);
    position: absolute;
    left: 200px;
    top: 11px;

    @include mq($bp-tablet) {
      left: 364px;
      top: 20px;
      @include font(20, 20);
      letter-spacing: 0.12em;
    }

    &:active {
      color: #737373;
    }

    &:hover {
      background: transparent;
    }

  }

  div#mce-responses,
  div.mce_inline_error {
    @include font(12);
    background-color: transparent !important;
    color: $white !important;
  }

  div#mce-responses {
    position: absolute;
    left: $gutter-mobile;
    top: 90px;

    @include mq($bp-tablet) {
      left: $gutter-desktop;
      top: 90px;
    }

  }

  div.mce_inline_error {
    position: absolute;
    top: 50px;
    left: $gutter-mobile;
    margin: 0 !important;
    padding: 0 !important;

    @include mq($bp-tablet) {
      left: $gutter-desktop;
      top: 70px;
    }

  }

  #mce-success-response {
    color: $white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @include font(15, 15);
  }

}//#mc_embed_signup




