/**
* Colors
*/

// grayscale
$white:       #fff;
$black:       #000;
$grey:        #888;
$light-grey:  #ebebeb;

// theme colors // from http://www.color-blindness.com/color-name-hue/
$torch-red: #f51919;// row 1
$can-can: #d287af; // row 2
$eden: #2c6d5e;// row 3
$deep-sky-blue:#00aeef; // Tickets
$golden-yellow: #ffdc00;// About
$pumpkin: #ff8014;// Visiting
$hot-magenta: #ff00c3;// FAQ
$downy: #78dca5;// Manhattan Color Walk
$golden-bell: #c88237;// Contact
$chartreuse-yellow: #deff00;// row 10
$flame-pea: #be5f4b;// row 11
$shakespeare: #5e9abb;// row 12
$arsenic: #374148;// row 13
$green-white: #e1e1d2;// Footer
