/**
* Colors
*/

// grayscale
$white:       #fff;
$black:       #000;
$grey:        #888;
$light-grey:  #ebebeb;

$navy-blue: #0058FC; // Link colors

// theme colors // from http://www.color-blindness.com/color-name-hue/
$torch-red: #f51919;// row 1
$can-can: #d287af; // row 2
$eden: #2c6d5e;// row 3
$deep-sky-blue:#00aeef; // Tickets
$golden-yellow: #ffdc00;// About
$pumpkin: #ff8014;// Visiting
$hot-magenta: #ff00c3;// FAQ
$downy: #78dca5;// Manhattan Color Walk
$golden-bell: #c88237;// Contact
$chartreuse-yellow: #deff00;// row 10
$flame-pea: #be5f4b;// row 11
$shakespeare: #5e9abb;// row 12
$arsenic: #374148;// row 13
$green-white: #e1e1d2;// Footer

// Etc...
$dark-pastel-green: #0AAF54;  //About page
$light-green: #67e6a3; // About page
$cinnabar: #EF4023; // FAQ
$rosebud: #FBBC8E; // FAQ
$dawn: #a19c94; // FAQ
$wasabi: #87993e; // FAQ
$cerulean: #0072B5; // FAQ
$mulberry: #BE4A8F; // FAQ

// stripe classes based on above
.torch-red          {background-color: $torch-red;}
.can-can            {background-color: $can-can;}
.eden               {background-color: $eden;}
.deep-sky-blue      {background-color: $deep-sky-blue;}
.golden-yellow      {background-color: $golden-yellow;}
.pumpkin            {background-color: $pumpkin;}
.hot-magenta        {background-color: $hot-magenta;}
.downy              {background-color: $downy;}
.golden-bell        {background-color: $golden-bell;}
.chartreuse-yellow  {background-color: $chartreuse-yellow;}
.flame-pea          {background-color: $flame-pea;}
.shakespeare        {background-color: $shakespeare;}
.arsenic            {background-color: $arsenic;}
.green-white        {background-color: $green-white;}

