
// max width of outer layout container
$layout-max-width: 1366px;

// number of columns in grid (design)
$layout-columns: 68;

// optional margin on left or right of layout
$layout-margin: 24px;
$gutter-mobile: 30px;
$gutter-desktop: 47px;

// stripe height
$stripe-height: 59px;
$stripe-height-mobile: 39px;

// breakpoints
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;

// media queries
$bp-mobile: 				'screen and (max-width: #{$mobile-max})';
$bp-tablet: 				'screen and (min-width: #{$tablet-min})';
$bp-tablet-only:    'screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max})';
$bp-desktop: 				'screen and (min-width: #{$desktop-min})';


#preload {
  @include mq($bp-desktop) {
    height: 1px;
    width: 1px;
    position: absolute;
    visibility: hidden;
    background: url(../images/about_over.svg),
    url(../images/tickets_over.svg),
    url(../images/visitingus_over.svg),
    url(../images/faq_over.svg),
    url(../images/manhattancolorwalk_over.svg),
    url(../images/contact_over.svg),
    url(../images/buytickets_button_over_outlinedfont.svg),
    url(../images/buytickets_button_on_outlinedfont.svg);
  }
}


